@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc
}

#conteudo {
	padding: 0px 8px
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

.panelInfo{
	margin-bottom: 3%;
}


/*Login page*/

.ajax-status{
	width: 35px;
	height: 35px;
	position:fixed;
	right:21%;
	top:9%;
		
}

#formLogin{
	box-sizing: border-box;
	width: 500px;
	height: 450px;
	background-color: #FFFF99;
	
	margin:5% 30%;
	
	padding:3%;
}

.login-panel {

	border-collapse: collapse;
	border:none;
	margin: 5% 20%;
}